<%- include('../partials/header.ejs') %>
    </head>

    <body>
        <%- include('../partials/loadingScreen.ejs') %>
            <%- include('../partials/navbar.ejs') %>

                <div class="container addCinema-container">
                    <div class="row">
                        <i class="fa fa-upload"></i>
                        <h1 class="title-cinema">Add Cinema</h1>
                    </div>
                    <div class="row">
                        <form action="/cinema/new" method="POST" >
                            <div class="cinema-system">
                                <select class="form-select" name="cinema[system]" aria-label="Default select example">
                                    <option selected>ระบบฉาย</option>
                                    <option value="Normal">Normal</option>
                                    <option value="3D">3D</option>
                                    <option value="4D">4D</option>
                                  </select>
                            </div>
                            <div class="row mb-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control addCinema" id="floatingInput" name="cinema[name]" placeholder="Cinema name">
                                    <label for="floatingInput">Name</label>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="cinema-system">
                                    <select class="form-select" name="cinema[major]">
                                        <option selected>สาขา</option>
                                        <% major.forEach(major => { %>
                                            <option value="<%= major._id %>"><%= major.name %></option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                            <div class="row mb-2">

                                <div class="col">
                                    <div class="form-floating">
                                    <input type="text" class="form-control addCinema" id="floatingInput" name="cinema[row]" placeholder="Row">
                                    <label for="floatingInput">Row</label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control addCinema" id="floatingInput" name="cinema[column]" placeholder="Column">
                                    <label for="floatingInput">Column</label>
                                </div>
                            </div>
                        </div>
                 </div>
                <button type="submit" class="btn btn-primary btn-add">Add</button><br>
                <a href="/movies" class="go-back">
                    << Go back</a>
                        </form>
                        </div>
                        </div>
<%- include('../partials/footer.ejs') %>