<%- include('../partials/header.ejs') %>
</head>
<body>
<%- include('../partials/navbar.ejs') %>


    <div class="container my-5">
        <div class="row text-center">
            <h1 class="text-light text-center">Edit Review <i class="fa fa-comments fs-2 text"></i></h1>
        </div>
        <form action="/movies/<%= movies_id %>/review/<%= comment._id %>?_method=PUT" method="POST">
            <div class="row justify-content-center py-3">
                <div class="col col-4 cinema-system form-floating">
                    <input type="text" class="form-control" name="comment[text]" placeholder="<%= comment.text %>" value="<%= comment.text %>">
                    <label for="floatingInput">Review</label>
                </div>
            </div>
            <center>
                <div class="row justify-content-center py-3">
                    <div class="col col-4 col-lg-7">
                        <button type="submit" class="btn-login mt-4 mb-5 justify-content-center rounded-pill">Submit</button><br>
                    </div>
                    <a href="/movies" class="go-back"> << Go back</a>
                </div>
            </center>
        </form>
    </div>

<%- include('../partials/footer.ejs') %>