<%- include('../partials/header.ejs') %>
  <link rel="stylesheet" href="../3/app3.css">
  <script src="../../eachMovies.js" defer></script>
  </head>

  <body>
    <%- include('../partials/loadingScreen.ejs') %>
      <%- include('../partials/navbar.ejs') %>

      

      <div class="container mt-5">
        <div class="row">
            <div class="progress" style="height: 1px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width:<%= 0*100/3 %>%;"></div>
            </div>
            <div class="col position-relative">
                <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-warning rounded-pill process-forMovie" style="width: 2rem; height:2rem;">1</button>
            </div>   
            <div class="col position-relative">
                <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-light rounded-pill process-forMovie" style="width: 2rem; height:2rem;">2</button>
            </div>  
            <div class="col position-relative">
                <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-light rounded-pill process-forMovie" style="width: 2rem; height:2rem;">3</button>
            </div>  
            <div class="col-0 position-relative">
                <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-light rounded-pill process-forMovie" style="width: 2rem; height:2rem;">4</button>
            </div>  
        </div>
        <div class="row mt-5">
            <div class="col position-relative">
                <div class="text-primary position-absolute top-0 start-0 translate-middle text-warning">
                    เลือกรอบฉาย
                </div>
            </div>   
            <div class="col position-relative">
                <div class="text-primary position-absolute top-0 start-0 translate-middle text-light">
                    เลือกที่นั่ง
                </div>
            </div>  
            <div class="col position-relative">
                <div class="text-primary position-absolute top-0 start-0 translate-middle text-light">
                    ชำระเงิน
                </div>
            </div>  
            <div class="col-0 position-relative">
                <div class="text-primary position-absolute top-0 start-100 translate-middle text-center text-light" style="width: 100px;">
                        เสร็จสิ้น
                </div>
            </div>  
        </div>
    </div>

                  <div class="container">
                    <% if(currentUser !=undefined){ %>
                      <% if(currentUser.role=='admin' ){ %>
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a href="/movies/<%= movies._id %>/edit" class="dropdown-item">Edit</a></li>
                            <li>
                              <a role="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="dropdown-item">Delete</a>
                            </li>
                          </ul>
                      <% } %>
                   
                 
                      <% if ( currentUser.like.includes(movies._id)){ %>
                        <div class="row unlike-btn pt-5">
                          <form action="/movies/<%= movies._id %>/unlike" method="POST">
                            <button type="submit" class="btn btn-danger btn-like">Favorite <i class="fa fa-gratipay"></i></button>
                          </form>
                        </div>
                   <% }else { %>
                        <div class="row pt-5">
                          <form action="/movies/<%= movies._id %>/like" method="POST">
                            <button type="submit" class="btn btn-outline-light btn-like">Favorite <i class="fa fa-gratipay"></i></button>
                          </form>
                        </div>
                   <% } %>
                    <% } else{ %>
                      <div class="row pt-5">
                        <form action="/login" method="GET">
                          <button type="submit" class="btn btn-outline-light btn-like">Favorite <i class="fa fa-gratipay"></i></button>
                        </form>
                      </div>
                    <% } %>
                </div>

                    <div class="main-container">
                      <div class="container-left">
                        <div class="card shadow-sm">
                          <img src="<%= movies.image%>" class='card-img-top img-eachmovie' height="600px">
                          <div class="card-body">
                            <h5 class='card-title'></h5>
                            <p class="card-text"></p>

                          </div>

                        </div>

                      </div>

                      <div class="container-right">
                        <div class="wrap-desc">                          
                          <h1 id="name-eachMovie">
                            <%= movies.name %>
                          </h1>
                          <div class="eachMovieType">
                            <i class="fa fa-tag"></i>
                            <p id="each-movie-type">
                              <%= movies.type %>
                            </p>
                          </div>
                          <div class="eachMovieTime">
                            <i class="fa fa-hourglass-half"></i>
                            <p id="each-movie-time">
                              <%= movies.time %> mins.
                            </p>
                          </div>
                          <div class="eachMovieSub">
                            <i class="fa fa-volume-up"></i>
                            <p id="each-movie-sub">
                              <%= movies.language %>
                            </p>
                          </div>



                          <div class="trailer">
                            <iframe class="trailer-movie" width="560" height="315" src="<%=movies.URL%>"
                              title="YouTube video player" frameborder="0"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen></iframe>
                          </div>
                          <div class="select-showtime">
                            <div class="row">
                              <div class="col">
                                <div class="select-date">
                                  <% let today=new Date(); %>
                                    <label class="fw-bold form-label text-light">เลือกวันฉาย</label>
                                    <select id="select-display-date" class="form-select" name="date">
                                      <option value="<%= today %>">Today <%= today.toString().slice(0,15) %>
                                      </option>
                                      <% for(let i=1 ; i < 31 ; i ++) {%>
                                        <% let nextday=new Date(today.getFullYear(), today.getMonth(),today.getDate() +
                                          i );%>
                                          <option value="<%= nextday %>">
                                            <%= nextday.toString().slice(0,15) %>
                                          </option>
                                          <% }; %>
                                    </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container" id="schedule-movies">
                    
                  </div>



                      <div class="container me-5 mb-3 mt-5">
                        <label class="review-title text-light ms-5"> <h2 class="ms-5"> Review </h2></label>
                        <a href="/movies/<%= movies._id %>/review/new" class="btn fs-2 text "><i class="fa fa-edit btn-addcomment"></i></button></a>
                      </div>
                        <% movies.comment.forEach(function(comment){ %>
                          <div class="container comment-container rounded-3 shadow p-3 border-top border-primary border-5 bg-light position-relative" style="width: 500px;">
                            <div class="row form-inline " style="width: 500px;">
                              <div class="col-10 text-center">
                                <strong>
                                  <%= comment.author.username %>
                                </strong> - <%= comment.text %>
                              </div>
                              <div class="col-1 position-absolute end-0 translate-middle">
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/movies/<%= movies._id %>/review/<%= comment._id %>/edit">Edit</a></li>
                                    <li>
                                      <a role="button" data-bs-toggle="modal" data-bs-target="#deletecommentModal" class="dropdown-item">Delete</a>
                                      
                                    </li>
                                  </ul>
                                <% } %>
                              </div>
                            </div>
                          </div>
                        

                            <div class="modal fade" id="deletecommentModal" tabindex="-1">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title ed-mol">Delete Comment</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                      </div>
                                      <%console.log(comment._id);%>
                                      <form action="/movies/<%= movies._id %>/review/<%= comment._id %>?_method=DELETE" method="POST">
                                        <div class="modal-body" style="color: black;">
                                            You want to delete comment ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-conf">Confirm</button>
                                        </div>
                                    </form>
                                  </div>
                              </div>
                          </div>
                        <% }); %>


                            <div class="modal fade" id="deleteModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title ed-mol" >Delete Movies</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <form action="/movies/<%= movies._id %>?_method=DELETE" method="POST">
                                          <div class="modal-body" style="color: black;">
                                              You want to delete <%= movies.name %> ?
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                              <button type="submit" class="btn btn-conf">Confirm</button>
                                          </div>
                                      </form>
                                    </div>
                                </div>
                            </div>


<%- include('../partials/footer.ejs') %>