<%- include('../partials/header.ejs') %>
  </head>

  <body>
    <%- include('../partials/loadingScreen.ejs') %>
      <%- include('../partials/navbar.ejs') %>

              <div class="container mt-5 col-12 col-lg-auto me-lg-auto">
                <div class="row">
                  <% if(currentUser !=undefined){ %>
                    <% if (currentUser.role=='admin' ){ %>
                      <div class="btn-addMovie">
                        <a href="/movies/new" class="btn btn-primary my-2">+ Add new Movie</a>
                      </div>
                      <% } %>
                  <% } %>
                </div>
                <div class="row wrapImg row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3 position-relative" >
                  <% movies.forEach(function(movies){ %>
                    <!-- <div class="col-12 col-lg-auto me-lg-auto img-movies"> -->
                      <!-- <div class="row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 position-relative img-movies"> -->
                        <div class="col p-3 position-relative img-movies">
                          <a href="/movies/<%= movies._id %>">
                            <img src="<%= movies.image %>" class='card-img-top image'>
                            <div class="position-absolute top-50 start-50 translate-middle showdetail-hover">
  
                              
                              <h4 class="movie-desc">
                                <%= movies.name %>
                              </h4>
  
                              <i class="fa fa-tag"></i>
                              <p class="movie-desc">
                                <%= movies.type %>
                              </p>
  
                              <i class="fa fa-hourglass-half"></i>
                              <p class="movie-desc">
                                <%= movies.time %> mins
                              </p>
  
                              <i class="fa fa-volume-up"></i>
                              <p class="movie-desc">
                                <%= movies.language %>
                              </p>
  
                            </div>
  
                          </a>
                        </div>
                    <!-- </div> -->
                    <% }); %>
                </div>
              </div>
<%- include('../partials/footer.ejs') %>